.fname{
  margin-bottom: 10px;
  margin-left: 10px;
  border: 2px solid green;
  width: 50%;
}
.secret_pin{
  margin-bottom: 10px;
  margin-left: 12px;
  border: 2px solid green;
  width: 50%;
}
.gender_1{
  margin-bottom: 10px;
  margin-left: 30px;

}
.gender_2{
  margin-bottom: 10px;
  margin-left: 30px;

}
.expert{
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 10px;
  border: 10px solid green;

}
.study{
  border: 2px solid green;
  margin-bottom: 10px;
  margin-left: 3px;

}
.text_area{
  margin-bottom: -50px;
  margin-left: 5px;
  border: 2px solid green;
}
.submit{
  margin-top: 60px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #008CBA;
  border-color: #008CBA;
  color: white;

}
